@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    margin: 0;
    padding-left: 0;
    box-sizing: border-box;
    
}

li, a{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgb(247, 247, 247);
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
    padding: 30px 10%;
    width: 100%;
    height: 130px;    
    backdrop-filter: blur(1000px);
    background-image: linear-gradient(100deg, rgb(76, 7, 236), rgb(239, 128, 97));
}

.logo{
    height: 200px;
    cursor: pointer;
}

.nav_links{
    list-style: none    ;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}
 
.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #d8cf1b;
}

.contactBtn{
     padding: 9px 25px;
     background-color: rgb(252, 249, 166);
     border: none;
     border-radius: 50px;
     cursor: pointer;
     transition: all 0.3s ease 0s;
}

.contactBtn:hover{
    background-color: rgb(255, 255, 0);
}

.vipLogo{
    width: 500px;
    height: auto;
    margin-top: 15%;
    transform: translateX(10px);
}

.content{
    background-image: linear-gradient(100deg, rgb(106, 106, 253), rgb(239, 128, 97));
    width: 100%;
    min-height: 100vh;
}
.profile{
    width: 50px;
}





/*     LOGO MENU      */

.menu{
    display: flex;
    flex-direction: row;    
    justify-content: space-evenly;

}

.VipKz{
    text-align: center;
    margin-top: 7%;
    transition: 0.5s all;
}

.VipKz:hover
{ 
    transform: translateY(-15px);
}



.musicImg{
    width: 250px;

}


.musicTxt{
    margin-top: 8%;
}



#logoEnglish{
    width: 700px;
    margin-top: 5%;
    
}

.englishTxt{
    text-align: center;
    margin-top: -9%;
}


.englishSongs{
    transition: 0.5s all;
}


.englishSongs:hover{
    transform: translateY(-15px);
}



#carMusicImg{
    width: 250px;
    
}

.carMusicLogo{
    margin-top: 10%;
    text-align: center;
    transition: 0.5s all;
}
.carMusicLogo:hover{
    transform: translateY(-15px);
}

#CarMusicText{
    margin-top: 7%;
}




/* Second  row menu of the main page */


@media screen and (max-width: 480px) {
    header{
        display: flex;
        flex-direction: column;

    }
    .logo{
        margin-top: -17%;
    }
    .menu{
        display: flex;
        flex-direction: column;
        
    }
    .menu2{
        display: flex;
        flex-direction: column;
        
    }
    .nav_links{
        display: none;
    }
    .contactBtn{
        display: none;
    }
    .profile{
        display: none;
    }

    
    
}

@media screen and (max-width: 1280px) {
    header{
        display: flex;
        flex-direction: row;
    }
   

}
/**************Music page*******************/


